#wrapper {
    width: 100%;
    min-width: 100px;
    max-width: 700px;
    margin: 0px auto;
    padding: 1 1 1 1;
}

h1 

{
    font-family: 'Georgia', 'Times';
    font-size: 250%;

}

h2 

{
    font-family: 'Georgia', 'Times';
    font-size: 200%;
    
}

p
{
    font-family: 'Georgia', 'Times';
    font-size: 200%;
    font-weight: lighter;
    
}


body
{
    font-family: 'Georgia', 'Times';
    max-width: 100%;
    height: auto;
    
}


img {
    max-width: 100%;
    height: auto;
    -webkit-filter: blur(10px), saturate(50%); /* Safari */
    filter: blur(10px), saturate(50%);
}


/* unvisited link */

a:link {
    color: black;
    text-decoration: none;
    font-size: 200%;
}
/* visited link */

a:visited {
    color: black;
    text-decoration: none;
    font-size: 200%;
}
/* mouse over link */

a:hover {
    color: black;
    text-decoration: none;
    font-size: 200%;
}
/* selected link */

a:active {
    color: black;
    text-decoration: none;
    font-size: 200%;
}
