@import url('https://fonts.googleapis.com/css?family=Oranienbaum');

#wrapper {
    width: 100%;
    min-width: 100px;
    max-width: 700px;
    margin: 0px auto;
    padding: 1 1 1 1;
}

h1 

{
    font-family: 'Oranienbaum';
    font-size: 140%;
}

h2 

{
    font-family: 'Oranienbaum';
    font-size: 100%;
}

p
{
    font-family: 'Oranienbaum';
    font-size: 100%;
}


body
{
    max-width: 1500px;
    height: auto;
}


img {
    max-width: 90%;
    height: auto;
}

/* unvisited link */

a:link {
    color: red;
    text-decoration: none;
}
/* visited link */

a:visited {
    color: red;
    text-decoration: none;
}
/* mouse over link */

a:hover {
    color: red;
    text-decoration: none;
}
/* selected link */

a:active {
    color: red;
    text-decoration: none;
